@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  @apply text-black;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
    @apply text-black;
  }
}

body {
  @apply text-black;
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
